<div class="dialogContainer">
  <div class="modalHeader">
    <div class="avatarDetails">
      <input id="tableFileInput" type='file' (change)="onSelectFile($event)" >
      @if(fileName){
        <label class="hoverable" for="tableFileInput">
          <img [src]="url ? url : company.logo" alt="image">
          <div class="hover-text">{{fileName}}</div>
          <div class="background"></div>
        </label>
      }
      <div class="modalTitle">
        {{dialogTitle}}
      </div>
    </div>
    <button mat-icon-button mat-dialog-close class="modal-close-button" aria-label="Close dialog" type="button">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form class="form-field-full" [formGroup]="companyForm" (ngSubmit)="submit()">
      <div class="row m-b-25">
        <div class="col-sm-6">
          <mat-form-field class="example-full-width" appearance="outline" subscriptSizing="dynamic">
            <mat-label>RUC</mat-label>
            <input matInput formControlName="ruc">
            <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>vpn_key</mat-icon>
            @if (companyForm.get('ruc')?.hasError('required')) {
            <mat-error>
              RUC is required
            </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-sm-6">
          <mat-form-field class="example-full-width" appearance="outline" subscriptSizing="dynamic">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name">
            <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>domain</mat-icon>
            @if (companyForm.get('name')?.hasError('required')) {
            <mat-error>
              Name is required
            </mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row m-b-25">
        <div class="col-sm-12">
          <mat-form-field class="example-full-width" appearance="outline" subscriptSizing="dynamic">
            <mat-label>Address</mat-label>
            <textarea matInput formControlName="address"></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="row m-b-25">
        <div class="col-sm-6">
          <mat-label class="msr-3">Status:</mat-label>
          <mat-radio-group aria-label="Select Status" formControlName="status" required>
            <mat-radio-button [value]= 1 color="primary">Active</mat-radio-button>
            <mat-radio-button [value]= 2 color="primary">Inactive</mat-radio-button>
            @if (companyForm.get('status')?.hasError('required')) {
            <mat-error>
              Select Status
            </mat-error>
            }
          </mat-radio-group>
        </div>
        <!--<div class="col-sm-6">
          <mat-form-field class="example-full-width " appearance="outline" subscriptSizing="dynamic">
            <mat-label>Measure</mat-label>
            <mat-select formControlName="measurementUnit" [compareWith]="compareMeasurementUnit" required>
              @for (mu of measureUnit; track mu){
                <mat-option [value]=mu>{{mu.name}}</mat-option>
              }
            </mat-select>
            @if (materialForm.get('unitMeasurement')?.hasError('required')) {
            <mat-error>
              Measure is required
            </mat-error>
            }
          </mat-form-field>
        </div>-->
      </div>
      <div class="row m-b-25">
        <div class="col-sm-6">
          <div class="example-button-row">
            <button mat-flat-button class="formSubmitBtn" [disabled]="!companyForm.valid" type="submit">Save</button>
            <button mat-flat-button mat-dialog-close class="formCancelBtn" tabindex="-1">Cancel</button>
          </div>
        </div>
        <!--<div class="col-sm-6 d-flex justify-content-end">
          <button type="button" onclick="document.getElementById('flFile').click()" class="btn btn-outline-default" ms-auto>Upload Image</button>
          <input id="flFile" type="file" style="display: none;" (change)="selectFile($event)">
        </div>-->
      </div>
    </form>
  </div>
</div>
